function formatDate(timestamp) {
  var date = getDate(timestamp);
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()

  return [year, month, day].map(formatNumber).join('.')
}

function formatTime(timestamp) {
    var date = getDate(timestamp);
    var year = date.getFullYear()
    var month = date.getMonth() + 1
    var day = date.getDate()
  
    var hour = date.getHours()
    var minute = date.getMinutes()
    var second = date.getSeconds()
  
    return [year, month, day].map(formatNumber).join('.') + ' ' + [hour, minute, second].map(formatNumber).join(':')
  }
  
  function formatNumber(n) {
    n = n.toString()
    return n[1] ? n : '0' + n
  }

  function parseToInt(n) {
    return parseInt(n)
  }

  function toFixed(value) {
    return value.toFixed(2)
  }

module.exports = {
    formatTime: formatTime,
    formatDate: formatDate,
    parseToInt: parseToInt,
    toFixed: toFixed,
}